
/* PC */
@media (min-width: 64em) {

}

/* Tablet and Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 16px;
    }

    .social-list {
        line-height: 2;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
    #nav .subnav a {
        padding: 5px 40px;
    }
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
    .contact-info {
        line-height: 2;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {

    .s-full-witdh {
        width: 100%!important;
    }



    .s-col-full {
        width: 100%!important;
    }

    .s-mt-8 {
        margin-top: 8px!important;
    }

    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
    }



    #nav,
    #nav > li {
        display: block;
        
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px;
    }

    #nav li a { 
        line-height: 48px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    .contact-info {
        line-height: 1.8;
    }
}